<%- include('../partials/header') %>

<form action="/skills" method="POST">
  <input type="text" name="skill">
  <br>
  <input type="text" name="done">
  <br>
  <button type="submit">Save skill</button>
</form>

<%- include('../partials/footer') %>

